/* Variables and mixins declared here will be available in all other SCSS files */
$primary-300: #99ff99;
$primary-500: #8bc34a;
$primary-600: #7cb342;
$primary-700: #689f38;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$filter-img: var(--filter-img);
$filter-text: var(--filter-text);
$card-bg: var(--card-bg);
$star-col: var(--star-col);

:root {
  --filter-img: blur(5px);
  --star-col: #{$primary-300};
  &[data-theme="dark"]{
      --star-col: #{$primary-700};
      --filter-img: blur(5px) grayscale(100%);
      --filter-text: grayscale(100%);
      --card-bg: rgb(42, 42, 42);
  }
}

@mixin text($color: black, $size: 1rem, $align: center, $weight: none, $stroke: 0, $stroke-color: black){
    text-align: $align;
    color: $color;
    font-weight: $weight;
    font-size: $size;
    -webkit-text-stroke: $stroke;
    -webkit-text-stroke-color: $stroke-color;
}

@mixin gradient($from: $primary-500, $to: $primary-700) {
    background: linear-gradient(to right, $from, $to);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin media($keys...){
    @each $key in $keys { 
      @media (max-width: map-get($breakpoints, $key)){
        @content
      } 
    }
}