/* Variables and mixins declared here will be available in all other SCSS files */
$primary-300: #99ff99;
$primary-500: #8bc34a;
$primary-600: #7cb342;
$primary-700: #689f38;

@mixin text($color: black, $size: 1rem, $align: center, $weight: none, $stroke: 0, $stroke-color: black){
    text-align: $align;
    color: $color;
    font-weight: $weight;
    font-size: $size;
    -webkit-text-stroke: $stroke;
    -webkit-text-stroke-color: $stroke-color;
}

@mixin gradient($from: $primary-500, $to: $primary-700) {
    background: linear-gradient(to right, $from, $to);
    background-clip: text;
    color: transparent;
}

.dark-card {
    background-color: rgb(42, 42, 42);
}